DB_SERVER=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=30
SUPERADMIN_EMAIL=
SUPERADMIN_PASSWORD=
SUPERADMIN_USERNAME=
SMTP_USERNAME=
SMTP_PASSWORD=
FRONTEND_URL=
DEMO_SEED_ENABLED=false
DEMO_USER_PASSWORD=Demo12345!